# Gradle / Android
*.iml
.gradle/
local.properties
/.idea/
/build/
/captures/
/.externalNativeBuild/
/.cxx/
*.apk
*.aab

# Keystore и приватные файлы
*.jks
*.keystore
keystore.properties
app/keystore/**

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Generated
app/release/
